{% extends 'T_base.html' %}
{% block title %} Edit a Blog Post!{% endblock %}
{% block content %}

{% if user.is_authenticated %}
  {% if user.id == post.author.id %}
    <h1>Edit Blog Post...</h1>

    <div class="mb-5 form-group">
      <form action="" method="post">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button type="submit" class="btn btn-secondary">Update</button>
      </form>
    </div>

    <script>
      var name = "{{ user.id }}";
      document.getElementById("author_id").value = name
     </script>

     
  {% else %}
  You're not allowed here ! (And you know it...)
  {% endif %}

{% else %}

You're not allowed here ! (And you know it...)

{% endif %}

{% endblock %}