{% extends 'T_base.html' %}
{% load static %}
{% block title %} Post: {{ post.title }} | {{ post.title_tag }}{% endblock %}
{% block content %}
<h1>{{ post.title }}</h1>
<small>By: 
   {{ post.author.last_name }} - {{ post.post_date }}

  {% if user.is_authenticated %}
    {% if user.id == post.author.id %}
      - <a href="{% url 'L_article_update' post.pk %}">(Edit)</a>
      / <a href="{% url 'L_article_delete' post.pk %}">(Delete)</a>
    {% endif %}
  {% endif %}
</small>
  <br>
  <hr>
  <br>
  {% if post.header_image %}
    <img src="{{ post.header_image.url }}" alt="" srcset="" width="500px"><br><br>
  {% else %}
    <img src="/media/images/default.jpg" alt="" width="500px"><br><br>
  {% endif %}
  {{ post.body |safe }}
  <hr>
  <!-- iii -->  
  {% if user.is_authenticated %}
    <form action="{% url 'L_like_post' post.pk %}" method="post">
      {% csrf_token %}
        {% if liked  %}
          <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-sm">Unlike</button>
        {% else %}
          <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">Like</button>
        {% endif %}  
          
  {% else %}
    <small><a href="{% url 'login' %}">Login</a> to like</small>
    </form>
  {% endif %} - {{ total_likes }}  Like{% if total_likes > 1 %}s {% endif %}

<!-- Box author -->
<br><br><br><br>
<div class="card mb-3 border-0 bg-light">
  <div class="row g-0 p-3">
    <div class="col-md-2">
      {% if post.author.profile.profile_pic %}
      <img src="{{ post.author.profile.profile_pic.url }}" class=" rounded-circle" alt="{{ post.author.profile.user}}" width="150px" heigth="150px">
      {% else %}
      <img src="{% static 'blog/images/default_profile_pic.jpg' %}" class=" rounded-circle" alt="{{ post.author.profile.user}}" width="150px" heigth="150px">
      {% endif %}
    </div>
    <div class="col-md-10">
      <div class="card-body pt-0">
        <h5 class="card-title">{{ post.author.first_name }} {{ post.author.last_name }}</h5>

        <p class="small text-muted">
          <a href="{% url 'L_show_profile_page' post.author.profile.id %}">Profile Page</a>  
          {% if post.author.profile.website_url %}
          | <a href="{{ post.author.profile.website_url }}" class="text-decoration-none">Website</a> 
          {% endif %} 
          {% if post.author.profile.facebook_url %}
          | <a href="{{ post.author.profile.facebook_url }}" class="text-decoration-none">Facebook</a>  
          {% endif %} 
          {% if post.author.profile.twitter_url %}
          | <a href="{{ post.author.profile.twitter_url }}" class="text-decoration-none">Twitter</a> 
          {% endif %} 
          {% if post.author.profile.instagram_url %}
          | <a href="{{ post.author.profile.instagram_url }}" class="text-decoration-none">Instagram</a> 
          {% endif %} 
          {% if post.author.profile.pinterest_url %}
          | <a href="{{ post.author.profile.pinterest_url }}" class="text-decoration-none">Pinterest</a>
          {% endif %} 
        </p>

        <p class="card-text">{{ post.author.profile.bio }}</p>
        
      </div>
    </div>
  </div>
</div>

<!-- Comments -->
<br><br><br>
<h1>Comments...</h1>
<br>
{% if not post.comments.all %}
    No Comments Yet... <a href="{% url 'L_comment_post' post.pk %}">Add One</a>
{% else %}
<br>
<a href="{% url 'L_comment_post' post.pk %}">Add Comment</a>
<br><br>
    {% for comment in post.comments.all %}
      <strong>
        {{ comment.name }} - {{ comment.date_added }}
      </strong>
      <br>
      {{ comment.body }}
      <br><br>
     
    {% endfor %}
<br><br>
<a href="{% url 'L_comment_post' post.pk %}">Add Comment</a>
{% endif %}
<br>
  {% endblock %}