{% extends 'T_base.html' %}

{% block content %}

<h1>Post</h1>

<ul>
  {% for post in object_list %}
  <li><a href="{% url 'L_article_details' post.pk %}">{{ post.title }}</a>
    - <a href="{% url 'L_categorie_article_liste' post.category|slugify %}">{{ post.category }}</a> / {{ post.author.first_name }} {{ post.author.last_name }} - {{ post.post_date }}
    {% if user.is_authenticated %}
      {% if user.id == post.author.id %}
        - <small> <a href="{% url 'L_article_update' post.pk %}">(Edit)</a> / <a
            href="{% url 'L_article_delete' post.pk %}">(Delete)</a>
        </small>
      {% endif %}
    {% endif %}

    <br>
    {{ post.snippet }}
    <!-- {{ post.body | slice:":150"|safe }} ... -->
  </li>

  {% endfor %}
</ul>

{% endblock %}