{% extends 'T_base.html' %}
{% block title %} Change Password {% endblock %}
{% block content %}

<h1>Change Password...</h1>
<br><br>

<div class="mb-5 form-group">
  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-secondary mb-5">Change Password</button>

    <ul>
      <li>Your password can’t be too similar to your other personal information.</li>
      <li>Your password must contain at least 8 characters.</li>
      <li>Your password can’t be a commonly used password.</li>
      <li>Your password can’t be entirely numeric.</li>
    </ul>




  </form>
</div>


{% endblock %}